<h1>Events</h1>

<ul>
  <% @events.each do |event| %>
  <li><%= link_to event.name, event_path(event) %></li>
  <% end %>
</ul>

<%= link_to "Create a New Event", new_event_path, class: "button create" %>